:root {
    --header-color: #15bec4;
    --name-color: #000000;
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
  body {
      background-color: aliceblue;   
      color: black; 
      font-family: Helvetica, Arial, sans-serif;
   }
  
  /*HEADER START*/ 
  header {
      padding:10px 35px 10px;
      background-color: #000000;
      display: flex;   
      flex-wrap: wrap;
      justify-content: space-between; 
      align-items: center;
   }
  
  header h1 {
      font-weight: bold;
      font-size: 36px;
      margin: 0; 
      background:#15bec4;
      padding: 15px 10px 5px 80px;
      display: inline;
  }
  
  header h1 .name {
    color:black;
  }
  
  header a {
      text-decoration: none;
      color: #15bec4;
    }
  
  header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      color: var(--header-color);
      background-image: linear-gradient(270deg, var(--name-color) 0%, var(--name-color) 100%);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom;
      transition: all 0.25s ease-in;
      text-decoration: underline;
    }
  
  header nav ul li a:hover {
    color:var(--name-color);
    background-image: linear-gradient(270deg, var(--header-color) 0%, var(--header-color) 100%);
    background-size: 100% 100%;
    text-decoration: none;
  }
  /*HEADER END*/
  
  /*FOOTER START*/

  
  /*FOOTER END*/
  
  /* Hero Style Start */
  .hero {
      background-image: url("../images/wood-591631__480.jpg");
      height: 300px;
      background-size: cover;
      background-position: center;
      text-align: right;
      align-items: flex-start;
    }
  
  .hero img {
      height: 250px;
      margin: 10px 20px 10px 20px;
      float: left;
  }
  
  .steelers {
    float: right;
  }
  
  .hero h2 {
    background: #15bec4;
    padding: 5px 10px;
    display: inline;
  }
  /* Hero Style End */
  
  /*ABOUT ME START*/
  .about-me {
    color: #245b69;
  }
  .about-me h2 {
      line-height: 1.2;
      width: 80%;
      font-size: 35px;
      font-family:Arial, Helvetica, sans-serif;
      margin: 0 20px 10px 20px;
      text-align: left;
  }
  
  .about-me p {
    line-height: 1.2;
    width: 80%;
    font-size: 15px;
    margin: 0 20px 10px 20px;
    text-align:justify;
  }
  /*ABOUT ME end*/
  
  /*WORK START*/
  .work {
    color:#245b69;
  }
  .work h2 {
    line-height: 1.2;
    width: 80%;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 20px 10px 20px;
    text-align: left;
  }
  
  /*WORK START*/
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
    padding-bottom: 0;
    justify-content: center;
    }
    
    header h1 {
    width: 100%;
    text-align: center;
    }
    
    header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    }
    
    header nav ul li a {
    font-size: 20px;
    }
    
    .hero-h2, .hero-img {
    width: 100%;
    }
          
    .hero-cta {
    text-align: center;  
    }  

    .section-title {
        width: 80%;
      }
  }
  
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .about-me h2 {
        flex: 1 100%;
        text-align: center;
    }
    
    .work h2 {
        flex: 1 100%;
        text-align: center;
    
    .work-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    }

  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

  }
  