/* :root {
  --bs-blue: #0dfd95;
  --name-color: #fff;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-height: 100vh; */
  /* background-color: var(--bs-blue); */
  background-image: url(/assets/images/17973908.jpg);
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
}

header h1 {
  /* font-weight: bold; */
  /* font-size: 10px; */
  margin: 0;
}

header a {
  color: #000;
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
}

.card-title {
  margin-left: 5rem;
}

.img-selfie {
  width: 5rem;
  display: center;
}

.portfolio-img {
  width: 50%;
  height: 30%;
  border-radius: 5px;
}

.img-thumbnail-1 {
  max-width: 50%;
}

.img-thumbnail-2 {
  max-width: 70%;
}

/*ABOUT ME START*/

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/*ABOUT ME end*/

/*WORK START*/
.work {
  color: #245b69;
  display: flex;
  flex-wrap: wrap;
}
.work-h2 {
  line-height: 1.2;
  width: 80%;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20px 10px 20px;
  padding-top: 15px;
  padding-right: 35px;
  text-align: left;
  border-right: 3px solid #024e76;
}

.box {
  background-color: #fff;
  width: 300px;
  border: 15px solid #0a0a0a;
  padding: 50px;
  margin: 20px;
}

/*CONTACT ME*/
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}

.contact-h2 {
  color: #024e76;
  font-size: 30px;
  margin: 7px 0;
  border-right: 3px solid #024e76;
  padding: 0 10px;
}

.contact-ul {
  line-height: 1.5;
  list-style: none;
  color: #245b69;
  font-size: 22px;
  padding-left: 200px;
}
/*CONTACT ME END*/

/* Hero Style Start */
/* .hero {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */
/* Hero Style End */

section {
  padding: 60px;
}

.intro {
  text-align: center;
}

.intro h3 {
  /* font-size: 55px; */
  color: #000;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #fff;
  display: inline-block;
}

.intro p {
  line-height: 1.7;
  color: #090909;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.contact-me {
  text-align: center;
}

.contact-me h3 {
  /* font-size: 55px; */
  color: #000;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #fff;
  display: inline-block;
}

.contact-me p {
  line-height: 1.7;
  color: #090909;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .header {
    padding-bottom: 0;
    justify-content: center;
  }

  .header-h1 {
    width: 100%;
    text-align: center;
  }

  .header,
  .nav,
  .ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .top-bar-right {
    text-decoration: none;
  }

  /* FOOTER START */
  footer {
    display: flex;
    /* width: 100%; */
    padding: 40px 35px;
    justify-content: center;
    /* flex-wrap: wrap; */
  }

  footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  /* FOOTER END */

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .class h2 {
      width: 95%;
    }
  }

  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  }
}
